{# templates/user/index.html.twig #}

{% extends 'base.html.twig' %}

{% block container %}
        <div class="col-md-8">
            <div class="">
                <center style="padding: 2%">
                    <img alt="profile picture" src="{{ asset('images/profile_icon.png') }}"
                         width="150" height="150" style="border-radius: 50%; background-color: whitesmoke">
                    <h2 style="margin-top: 1%">{{ user.username }}</h2>
                    {% if user.bio is not empty  %}
                        <p style="font-size: larger">&#8220; {{ user.bio }} &#8221;</p>
                    {% endif %}
                    <div class="col-xs-12 col-sm-4 emphasis">
                        <h2><strong> {{ nb_article }} </strong></h2>
                        <p><small>Articles</small></p>
                        <a class="btn btn-info btn-block" href="/articles/{{ user.username }}"><span class="fa fa-newspaper"></span> Voir </a>
                    </div>
                </center>
            </div>
            <div class="modal-body">
                <ul>
                    <li><a href="/changepasswd">Changer mot de passe</a></li>
                    <li><a href="#">Changer description</a></li>
                </ul>
            </div>
            {% if info %}
                <div class="alert alert-info">{{ info }}</div>
            {% endif %}
        </div>
{% endblock %}
